body{

    margin:0px 50px;
    font-family: 'Inter';
    font-style: normal;
}
.nav-container{
    margin:20px 10px;
}
nav{
    height:65px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.nav-items{
    display:flex;
    align-content: center;
    justify-content: space-between;

}   
.nav-items li{
    list-style: none;
    margin-left: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #6B7280;
}
.nav-items li a{
    text-decoration: none;
}

.light-button{
    color:#3730A3;
    border: 1px solid #3730A3;
    border-radius: 6px;
    padding: 8px 32px;
    background-color: #ffffff;
}
.intro-container{
    display: flex;
    flex-flow: row;
    
    justify-content: space-between;
    margin:80px 10px;
}
.intro-image{
    width: 478px;
    height: 525px;
    box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25) ;
    border-radius: 6px;
}
.intro-details{
    /* width: 478px; */
    height: 525px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding-right: 40px;
    
}
.name{
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
}
.line{
    height:0px;    
    width: 102px;
    border: 1px solid #3730A3;
    margin-right: 3px;
    margin-top: 8px;
}
.name a{
    text-decoration: none;
    color: #3730A3;
}
.intro-heading{
    font-weight: 700;
    font-size:64px;
    line-height: 60px;
    color: #1F2937;
    margin: 0px;
}

.intro-details p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6B7280;
    margin: 10px;

}
.dark-button{
    color:#ffffff;
    border: 1px solid #3730A3;
    border-radius: 6px;
    padding: 8px 32px;
    background-color: #3730A3;;
}

.gray-line{
    height:0px;    
    border-top: 1px solid #E5E7EB;
}
.gray-line p{
    font-size: 12px;
}
.skills{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.skills-heading{
    padding: 10px 50px;

}
.skills-heading h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #1F2937;
}

.skill-content{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
}
.skill-content-image{
max-width:440px;
}
.skills-content-detail
{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
    }
.skill-details{
    padding-top: 25px;
    margin-left: 10px;
    width:47%;
}
.skill-details p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #6B7280;
}
.see-more-link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.skill-details a{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #3730A3;
    text-decoration: none;
}
.skill-details a:hover{
    text-decoration: underline;
}
.clients{
    background: #FEF2F2;
    min-height:300px;
    margin:30px -50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.plannigs{
    margin: 40px 10px;
    display: flex;
    flex-direction: row;  
    align-items: flex-start;
    justify-content: space-evenly;
}
.plannig-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}
.plannig-details h{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #374151;
}
.plannig-details p{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9CA3AF;
}
.career{
    margin: 20px 50px;
    display: flex;
    flex-direction:column;
    
}
.career h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #1F2937;
    margin-bottom: 40px;;

}
.career-table{
    width:100%;
    text-align: left;
}
.career-table th{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
    text-transform: uppercase;
    height:70px;
}

.career-table td{
    height:70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
}

.site-footer{
    height:450px;
    background-color:  #FEF2F2;
    margin: 20px -50px;
}
.footer-display{
    padding: 50px ;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}
.footer-display h2{
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #374151;
}
.footer-displayp{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9CA3AF;

}
.social-links{
    padding-top: 30px;
}
.social-links img{
    margin-right:20px;
}

.image-grid{
    width:80%;
    display: flex;
    flex-direction: column;
}
.image-grid h2{
font-weight: 500;
font-size: 48px;
line-height: 48px;
text-align: center;
color: #374151;
}
/* .images{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

 */


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
      justify-content: space-evenly;
    flex: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  /* @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } */ 



